- if controller_name != 'sessions'
  = link_to "Log in", new_session_path(resource_name), class: 'col-4'
  %br/
- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  = link_to "パスワードの再設定はこちら", new_password_path(resource_name), class: 'col-4'
  %br/
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to "登録確認メールの再送はこちら", new_confirmation_path(resource_name), class: 'col-4'