<h1>ユーザーページ</h1>

<ul>
  <li><%= @user.name %></li>
  <li><%= @user.email %></li>
  <% if @user.admin? %>
    <li>管理者</li>
  <% else %>
    <li>一般ユーザー</li>
  <% end %>
</ul>

<canvas id="myChart" width="900" height="200"></canvas>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: <%= @days.to_json.html_safe %>,
        datasets: [{
            label: "サンプル",
            data: <%= @times %>,
            backgroundColor: 'rgba(255, 99, 132, 1.0)',
            borderColor: 'rgba(255, 50, 132, 1.0)',
            fill: false
        }]
    },
    options: {
        title:  {
          display: true,
          text: "タイトル"
        }
    }
});
</script>