%h1 所属一覧

%table
  %thead
    %tr
      %th
        ID
      %th
        所属名
  %tbody
    - @affiliations.each do |f|
      %tr
        %td
          = f.id
        %td
          = f.name
        %td
          = link_to '編集', edit_affiliation_path(f)
        %td
          = link_to '削除', f, method: :delete, data: { confirm: t('.delete_confirm') }