html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  padding-top:20px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
 
 
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
 
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.field_with_errors {
  input.form-control {
    border:1px solid #df0000;
  }
}

.has-error {
  input.form-control {
    border:1px solid #df0000;
  }
}

.pagination {
  justify-content: center;
}

#error_explanation {
  ul{
    padding-left: 0;
  }
  li{
    list-style: none;
  }
}

.css-fukidashi {
    padding: 0;
    margin: 0;
  }
  .fukidashi {
    display: none;
    position: absolute;
    top: -49px;
    left: 0px;
    padding: 16px;
    border-radius: 5px;
    background: #33cc99;
    color: #fff;
    font-weight: bold;
  }
  .fukidashi:after {
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    bottom: -19px;
    margin-left: 60px;
    border: solid transparent;
    border-color: rgba(51, 204, 153, 0);
    border-top-color: #33cc99;
    border-width: 10px;
    pointer-events: none;
    content: " ";
  }
  #no_breaked:hover + .fukidashi {
    display: block;
  }